.has-error label {
    color: #a94442;
}

.has-error .help-text {
    margin-top: 5px;
}

.panel-heading > h1 {
    font-size: 18px;
    margin: 5px 0;
}

.btn-delete {
    margin-left: 10px;
}

.panel-body .table {
    margin-bottom: 0px;
}